---
interface Props {
	href: string;
	label: string;
	external?: boolean;
	class?: string;
}
const { href, label, external = false, class: className = '' } = Astro.props;
---

<a
	href={href}
	class:list={['[&>svg]:w-8 [&>svg]:h-8', className]}
	target={external ? '_blank' : undefined}
	rel={external ? 'noopener' : undefined}
>
	<span class="sr-only">{label}</span>
	<slot />
</a>
