---
import { SITE_TITLE } from '@/consts';
import HeaderLink from '@/components/HeaderLink.astro';
import Kurakkan from '@/assets/logos/kurakkan.svg';
---

<header class="px-4 bg-base-100 shadow-md">
	<nav class="grid grid-cols-3 items-center">
		<h2 class="m-0 text-base">
			<a href="/" class="no-underline flex items-center gap-2 text-2xl">
				<Kurakkan class="w-16 h-16 text-primary" />
				{SITE_TITLE}
			</a>
		</h2>
		<div class="justify-self-center">
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
		</div>
        <div>
            <!-- Important div! -->
        </div>
	</nav>
</header>
